<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<title>kristjansarv vp2023</title>
	<script src="first.js" defer>
		
	</script>

</head>
<body>

	<img src="/banner/banner23.png" alt="picture of something">
	<h1>Kristjan Sarv</h1>
	<h5>Informaatika 1. kursuse tudeng</h5>
	<hr>
	<p>more passion, more energy, more footwork</p>
	<hr>
	<p>kursus, mille laades veebileht tehti, on veebiprogrammeerimine</p>
	<p>Leht on loodud <a href="https://www.tlu.ee/" target="_blank">TLÜ-DTI</a> õppetöö raames 07.09.2023 12.55</p>
	<ul>
		<li><a href="/timenow">Praegune hetk</a></li>
		<li><a href="/folkw">Vanasõnad</a></li>
		<li><a href="/eestifilm">Eesti film</a></li>
	</ul>




</body>
</html>
