<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<title>kristjansarv vp2023</title>
	<script src="first.js" defer>
		
	</script>

</head>
<body>

	<img src="/banner/banner23.png" alt="veebiproge banner 23">
	<h1>Uudised</h1>
	<ul>
		<li><a href="/news/addnews">Lisa uudis(eid)</a></li>
		<li><a href="/news/readnews">Loe uudiseid</a></li>
		<li><a href="/">Avalehele</a></li>
	</ul>




</body>
</html>
